
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="project">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RegisterServletTest"/>
		<class name="UserTests"/>
		<class name="connectionTest"/>	
	<class name="UserServletTest"/>
	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
